.slider-wrapper {
  padding: 40px;
  border-radius: 20px;
  background-color: #f5fdfb;
  margin: 20px;
  position: relative;
  width: 80%;
  height: 100%;
}

.Capsules {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.catchy-hook {
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.welcome-text {
  font-size: 40px;
  font-weight: bold;
}

.slider-container {
  margin-top: 40px;
}

.card-row {
  display: flex;
  width: calc(100% + 20px);
  transition: transform 0.5s ease;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.next-button,
.prev-button {
  background-color: #ff6d2c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover,
.prev-button:hover {
  background-color: black;
}

.no-entries-message {
  text-align: center;
  font-size: 20px;
  color: #333;
  margin-top: 50px;
}

.set-link {
  color: #ff6d2c;
  font-weight: bold;
  text-decoration: none;
}

.countdown-timer {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}