.entry-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added a slight shadow */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .entry-container.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  .entry-image {
    width: 140px; /* Increased width of image */
    height: 140px; /* Increased height of image */
    margin-bottom: 1rem; /* Increased space between image and title */
  }
  
  .entry-title {
    margin-bottom: 0.5rem; /* Increased space between title and description */
  }
  
  .entry-description {
    font-size: 0.85rem; /* Reduced font size of description */
  }
  