/* General styles */
.page-title, .page-subtitle, h2 {
  text-align: center;
  color: #333; /* Darkened text color */
  margin-bottom: 20px;
}

.page-title {
  font-weight: bold;
}

.page-subtitle {
  color: #666; /* Slightly lighter subtitle color */
  font-weight: bold;
}

/* Container and content adjustments for sidebar */
.timeCapsule-container {
  flex-grow: 1;
  margin-left: 0;
  margin-top: 10rem; /* Converted to rem for consistency */
  transition: margin-left 0.3s ease;
  overflow-x: hidden;
}

.timeCapsule-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10rem; /* Converted to rem for consistency */
  padding-right: 5rem; /* Converted to rem for consistency */
  width: calc(100vw - 13rem); /* Converted to rem for consistency */
  margin-left: 13rem; /* Converted to rem for consistency */
  transition: width 0.3s ease, margin-left 0.3s ease;
}

.timeCapsule-container.expanded .timeCapsule-content {
  width: calc(100vw - 27rem); /* Converted to rem for consistency */
  margin-left: 27rem; /* Converted to rem for consistency */
}

/* Time Capsule container */
.time-capsule, .planting-contain {
  background-color: #e0f8f2; /* Fun mint green */
  padding: 4rem; /* Converted to rem for consistency */
  border-radius: 1.5rem; /* Slightly reduced border radius */
  margin-top: 2rem; /* Converted to rem for consistency */
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1); /* Softened box shadow */
}

.card-body {
  background-color: #94e7d2; /* Fun yellow */
  padding: 2rem; /* Converted to rem for consistency */
  border-radius: 1rem; /* Slightly reduced border radius */
}

.form-group {
  margin-bottom: 2rem; /* Converted to rem for consistency */
}

input[type="text"], input[type="file"], textarea {
  width: 100%;
  padding: 1.5rem; /* Increased padding for better input appearance */
  margin-top: 1.5rem; /* Converted to rem for consistency */
  outline: none;
  border-radius: 1rem; /* Rounded border radius */
  transition: border-color 0.3s ease; /* Added transition for smoother hover effect */
}

input[type="text"]:focus, input[type="file"]:focus, textarea:focus {
  border-color: #ff6d2c; /* Vibrant orange border color on focus */
}

.timecapsule-button {
  background-color: #ff6d2c; /* Vibrant orange */

  color: white;
  padding: 1.5rem 3rem; /* Increased padding for better button appearance */
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease; /* Added transition for smoother hover effect */
}

.timecapsule-button:hover {
  background-color: black; /* Darker shade of orange on hover */
}

/* Pagination */
.pagination {
  margin-top: 2rem; /* Converted to rem for consistency */
}

.page-item.active .page-link {
  background-color: #ff6d2c; /* Vibrant orange */
  border-color: #ff6d2c; /* Vibrant orange */
}
