.sidebar-container {
  position: fixed;
  top: 70px;
  left: 26px;
  width: 60px;
  height: calc(100vh - 70px);
  background: linear-gradient(180deg, #120008 0%, #27003D 100%);
  transition: width 0.3s ease;
  z-index: 300;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.sidebar-expanded {
  width: 200px;
}

.sidebar-gif{
  height: 25px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.sidebar-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border */
  cursor: pointer;
}

.sidebar-toggle-button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Darken on hover */
}

.sidebar-toggle-button .sidebar-icon {
  margin-right: 5px;
}

.sidebar-entries {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sidebar-entry {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.sidebar-entry:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Darken on hover */
}

.sidebar-entry:hover .sidebar-entry-label {
  color: #fff; /* Change text color on hover */
}

.sidebar-entry-label {
  color: #ccc;
  margin-left: 10px; /* Add some space between icon and label */
}

.sidebar-expand-icon,
.sidebar-shrink-icon {
  position: absolute;
  right: -15px;
  top: 25px;
  transition: transform 0.3s ease; /* Add smooth transition */
}

.sidebar-expand-icon:hover,
.sidebar-shrink-icon:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.sidebar-entry-icon {
  margin-right: 10px;
}

.sidebar-icon {
  display: flex;
  align-items: center;
}

