/* page.css */
.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content {
  flex-grow: 1; 
  padding: 20px 20px 20px 130px; /* Top, right, bottom, left padding */
  margin-top: 25px;
  width: calc(100vw - 130px); /* Adjust width to leave space for sidebar */
  transition: padding-left 0.3s ease; /* Smooth transition for padding */
}

.sidebar-expanded + .page-content {
  padding-left: 270px; /* Increase left padding when sidebar is expanded */
}

.page-buttons {
  background-color: white;
  color: black;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 5px;
}

.page-buttons:hover {
  background-color: #000;
  color: white;
}

.page-button {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 5px;
}

.page-button:hover {
  background-color: #fff;
  color: #000;
}

.entry-subtitle {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10%;
}

.entry-header {
  background-color: #d9f2f7;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: auto;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bolder;
}

.template-slot {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  position: relative;
}

.template-slot.template-selected {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.empty-slot {
  text-align: center;
  color: #777;
  border: 2px dashed #ccc;
  padding: 50px;
  height: 65vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty-slot p {
  margin-top: 20px;
}

.quill-editor {
  width: 100%;
  height: 200px;
  resize: none;
  border: none;
  font-size: 18px;
  background-color: transparent;
  color: black;
}

.pagination-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.ql-editor {
  margin-top: 10%;
}

.ql-toolbar.ql-snow {
  margin-top: -23%;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: none;
}

.diary-title,
.diary-content {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.6); /* Transparent background */
  outline: none; /* Remove outlines */
}

.diary-title::placeholder,
.diary-content::placeholder {
  font-weight: bolder;
}

.diary-content {
  height: 350px; /* Increase height to accommodate 350 words without scrolling */
}

.remaining-chars {
  font-size: 14px;
  color: grey;
  text-align: right;
}

.page-number {
  font-size: 14px;
  color: grey;
  text-align: center;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  text-align: center;
}

.choose-template-heading {
  margin-bottom: 20px;
}

.template-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.choose-template-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.choose-template-button:hover {
  background-color: #fff;
  color: #000;
}
