.diary-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .page-title {
    text-align: center;
    color: #ff6f61;
  }
  
  .page-subtitle {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="date"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e64943;
  }
  
  h2 {
    color: #444;
  }

  .entries{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;

  }
  
  .button-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -345px;
  }
  
  
  .diary-page {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  