.notes-container {
  flex-grow: 1;
  margin-left: 0;
  margin-top: 10rem;
  transition: margin-left 0.3s ease;
  overflow-x: hidden;
}

.notes-body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0 16px;
}

.notes-list {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 16px;
  justify-content: center;
}

.notes-header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.notes-header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.notes-footer p {
  color: #ccc;
}

.notes-note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  float: left;
  border-radius: 25px;
}

.notes-note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.notes-note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.notes{
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.notes-note-delete {
  background-color: white;
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.notes-title {
  font-weight: bold;
}

.notes-subtitle {
  color: #666; /* Slightly lighter subtitle color */
  font-weight: bold
}

.notes-create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  margin-top: 10%;
}

.notes-create-note input,
.notes-create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.sidebar-expanded + .notes-container {
  margin-left: 270px;
}

.notes-create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.all-notes {
  z-index: 1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: grid;
  justify-content: center;
  width: 30%;
  margin-left: 60rem;
  border-radius:35px;
}

/* Added styles for sidebar integration */
.sidebar-and-content {
  display: flex;
}

.notes-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10rem; /* Converted to rem for consistency */
  padding-right: 5rem; /* Converted to rem for consistency */
  width: calc(100vw - 13rem); /* Converted to rem for consistency */
  margin-left: 13rem; /* Converted to rem for consistency */
  transition: width 0.3s ease, margin-left 0.3s ease;
}
