.slider-wrapper {
  padding: 40px;
  border-radius: 20px;
  background-color: #F5FDFB;
  margin: 20px;
  position: relative;
  width: 80%;
  height: 100%;
}

.Diaries {
  font-size: 30px;
  font-weight: bold;
}

.welcome-text {
  font-size: 40px;
  font-weight: bold;
}

.slider-container {
  /* overflow: hidden; */
  margin-top: 40px; /* Decreased margin top for better visual */
}

.card-row {
  display: flex;
  width: calc(100% + 20px); /* Adjusted width for better spacing */
  transition: transform 0.5s ease;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.next-button, .prev-button {
  background-color: #FF6D2C;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Added transition for smoother hover effect */
}

.next-button:hover, .prev-button:hover {
  background-color: black;
}

.no-entries-message {
  text-align: center;
  font-size: 20px;
  color: #333;
  margin-top: 50px;
}

.write-link {
  color: #FF6D2C;
  font-weight: bold;
  text-decoration: none;
}